.settings-main-container {
  background-color: #fff;
  width: calc(100% - 4rem);
  height: calc(100% - 88px);
  margin: 2rem;
  margin-top: 0;
  border-radius: 6px;
  /* overflow: auto; */
}

.setting-group-container {
  margin-bottom: 3rem;
}

.setting-group {
  border-top: 3px solid #ddd;
}

.setting-group-label {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 3px solid #ddd;
  width: 100%;
}

.setting .bx {
  font-size: 18px;
  padding: 1rem;
  margin-left: 1rem;
  border-radius: 6px;
}

.setting-info {
  width: 100%;
}

.setting-info .setting-label {
  margin-bottom: 6px;
}

.setting-set {
  font-size: 14px;
  font-weight: 600;
}

.setting input {
  padding: 6px 1rem;
  border-radius: 3px;
  border: 1px solid #aaa;
  outline: none;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
}

.return-button {
  border-bottom: 3px solid #ddd;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 170;
}

.return-button .return-button-wrapper {
  padding: 18px;
  font: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}

.return-button .return-button-wrapper:hover {
  /* color: blue; */
  background-color: #ddd;
  width: fit-content;
}

.return-button .return-button-wrapper .bx {
  font-size: 18px;
}

.settings-records-container {
  width: 100%;
  height: calc(100% - 53px);
}

.settings-records-container .button-group {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.settings-records-container .button-group .button {
  padding: 1rem;
  align-items: center;
  display: flex;
  background-color: transparent;
}

.settings-records-container .button-group .button:hover {
  background-color: #eee;
}

.settings-records-container .button-group .button:active {
  background-color: #ddd;
}

.settings-records-container .button-group .create-button {
  background-color: var(--color-secondary);
  font-weight: 500;
}

.settings-records-container .button-group .bx {
  font-size: 18px;
}

.settings-records-container .button-group .bx-plus {
  margin-left: 40px;
}

.settings-records-container .button-group .search-button {
  display: flex;
  gap: 6px;
  align-items: center;
}

.settings-records-container .button-group input[type="search"] {
  padding: 6px 1rem;
  border-radius: 3px;
  width: 200px;
  height: fit-content;
  outline: none;
  border: 1px solid #aaa;
  transition: all 0.25s;
}

.settings-records-container .button-group input[type="search"]:focus {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 255, 0.5);
  border: 1px solid transparent;
}

.settings-table-container {
  max-height: calc(100% - 20px);
  /* max-height: 100%; */
  /* max-height: calc(100% - 87px); */
}

.setting-group-container.userActivities {
  height: 500px;
}

.user-settings-table-container {
  /* max-height: calc(100% - 50px); */
  max-height: 100%;
  margin-top: 3px;
}

tr td:nth-child(2) {
  text-transform: uppercase;
  font-weight: 600;
}

.setting-activities .setting-group .setting:hover {
  background-color: #ddd;
}

.setting-group-label {
  height: 52px;
}

.setting-group-label .bx {
  padding: 5px;
  border-radius: 50px;
}

.setting-group-label .bx:hover {
  /* background-color: #ddd; */
  background-color: rgba(255, 255, 255, 0.2);
  /* color: var(--color-primary); */
}

.tab-links:nth-of-type(3) {
  border-top-right-radius: 6px;
}

.setting .bx-chevron-right {
  font-size: 18px;
}

.recent-info-button {
  font-weight: 700;
}

.tab-content {
  /* max-height: 186px; */
  border-top: 12px solid #fff;
  border-bottom: 12px solid #fff;
  overflow: auto;
}

.tab-content.settingsTab {
  border-top: 0;
  border-bottom: 0;
}

.setting img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.email {
  text-transform: none;
}

.users-table td,
.users-table th {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

.users-table td:first-of-type,
.users-table th:first-of-type {
  text-align: left;
}

.users-table td:nth-of-type(2) {
  font-weight: 400;
}

.users-table td.name-cell {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: left;
  font-weight: 700;
}

.name-cell img {
  width: 40px;
  height: 40px;
  background-color: var(--color-primary);
  border-radius: 50%;
  margin-right: 1rem;
}

.roles {
  width: 200px;
}

.role-options {
  width: 100%;
}

.role-options select {
  padding: 1rem;
  width: 100%;
  border-radius: 3px;
}

.action-buttons .button {
  background-color: transparent;
  border: none;
  padding: 6px;
  cursor: pointer;
}

.action-buttons .button:hover {
  background-color: #ddd;
}

.action-buttons .button:active {
  background-color: #ccc;
}

.action-buttons .button i {
  font-size: 18px;
}

.show-button {
  color: blue;
}

.remove-button {
  color: red;
}

.remove-user-message {
  line-height: 16px;
  /* font-weight: 500; */
}

.tab-content.userInfo {
  border: none;
}

.input-pair.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
}

.option-description {
  line-height: 16px;
}
